.card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    margin: 5rem;
    padding: 1rem 0.3rem;

    .productCard {
        position: relative;
        max-width: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 0.4px solid rgb(226, 226, 226);
        padding: 1rem 2rem;
        padding-bottom: 0;

        img {
            width: 13rem;

        }

        .priceName {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 10rem;



            p {

                font-size: 0.8rem;
                margin-bottom: 1rem;
            }

            h4 {
                margin-bottom: 1rem;
            }

            span {
                font-size: 0.8rem;
            }
        }

        .detailsCard {
            display: none;

            input {
                padding: 0.7rem 1rem;
                background-color: rgb(238, 236, 236);
                border: none;
                outline: none;
            }

            input[type=number]::-webkit-inner-spin-button {
                opacity: 1;
                width: 10px;
            }

            .icondetails {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0.4rem 0.2rem;
                margin-bottom: 1rem;

                .fa-cart-plus {
                    background-color: $primary-color;
                    border-radius: 50%;
                    color: $white;
                    padding: 0.6rem;
                    font-size: 1rem;

                }
            }

            .incele {

                background-color: $primary-color;
                color: $white;
                padding: 1rem 0.5rem;
                font-weight: 600;
                font-size: 0.8rem;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    margin-right: 0.3rem;
                }
            }

            i {
                cursor: pointer;
            }


        }

        &:hover {

            .priceName {
                display: none;
            }

            .detailsCard {
                display: flex;
                flex-direction: column;
            }


        }

    }

    @include respond(medium) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 1rem 0.3rem;
    }

    @include respond(small) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1rem 0.3rem;
    }
}